<!-- createSportForm.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Sport</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <h2 class="text-xl">Create Sport</h2>
        <form action="/create-sport" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <label for="sportName">Sport Name:</label>
          <input
            type="text"
            id="sportName"
            name="sport_name"
            class="border border-gray-300 text-gray-900 text-sm rounded w-full p-2"
            required
          />
          <br />
          <button
            type="submit"
            class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2"
          >
            Create Sport
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
