<footer class="bg-gray-800 p-2 text-center text-white">
  <p class="mt-2">
    It's not just a place to play, it's a community that fuels your love for
    sports!
  </p>
  <p>&copy; 2024 The Sports Couch. All rights reserved.</p>
</footer>
